:root
  --color-text: #111
  --color-light: #f4f1f0
  --color-primary: #ca9e65
  --color-accent: #b09582
  --color-error: #ff1744
  --text-title: "Oswald"

.img
  &-holder
    position: relative
    width: 100%
    overflow: hidden
    &:before
      content: ''
      display: block
  &--portrait
    &:before
      padding-top: 128%
  &--landscape
    &:before
      padding-top: 62.5%
  &--full
    &:before
      padding-top: 100%
  &--cover
    @extend .tf
    object-fit: cover
    transition: opacity 200ms linear
  // @font-face
//   font-family: "BazaART"
//   src: url(../fonts/BazaART.woff2) format("woff2")
//   font-weight: 400
// //   font-style: normal
@font-face
  font-family: "Manrope"
  src: url(../fonts/AkzidenzGroteskPro-Regular.7734892.woff2) format("woff2")
  font-weight: 400
// @font-face
//   font-family: "Manrope"
//   src: url(../fonts/Manrope-Medium.woff2) format("woff2")
//   font-weight: 400
// @font-face
//   font-family: "Manrope"
//   src: url(../fonts/Manrope-Bold.woff2) format("woff2")
//   font-weight: bold

body
  font-family: "Manrope", sans-serif
  font-weight: 400
  font-size: 18px
  color: #333
  // letter-spacing: .5px

#js-scroll
  height: 100vh


.relative
  position: relative
.absolute
  position: absolute
.fixed
  position: fixed
.tf
  @extend .absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.flex
  display: flex
.grid
  display: grid
  &-20
    @extend .grid
    grid-template-columns: repeat(20, 1fr)


.ta
  &c
    text-align: center
.uppercase
  text-transform: uppercase
  font-family: var(--text-title)
  letter-spacing: .5px

.main-title
  color: #282315

.h1, .h2, .h3, .h4, .h5, .h6
  color: #000
  font-weight: 300
  line-height: 1.15

.h
  &1
    font-size: calc(12px + (250 - 150) * ((100vw - 10px) / (1920 - 160)))
    @extend .uppercase
    @media screen and (max-width: 810px)
      font-size: calc(12px + (250 - 100) * ((100vw - 10px) / (1920 - 160)))
  &2
    font-size: calc(12px + (250 - 200) * ((100vw - 10px) / (1920 - 160)))
    @media screen and (max-width: 810px)
      font-size: calc(12px + (250 - 150) * ((100vw - 10px) / (1920 - 160)))
  &3
    font-size: calc(12px + (250 - 215) * ((100vw - 10px) / (1920 - 160)))
    @media screen and (max-width: 810px)
      font-size: calc(12px + (250 - 160) * ((100vw - 10px) / (1920 - 160)))
  &4
    font-size: 125%
    @media screen and (max-width: 810px)
      font-size: calc(12px + (250 - 210) * ((100vw - 10px) / (1920 - 160)))
  &5
    font-size: 150%

p
  font-size: 100%
  line-height: 1.15

.deco-txt
  position: relative
  &::before
    display: inline-block
    content: "●"
    color: #123244
    margin-right: .5rem
    vertical-align: super
    font-size: 50%

.color
  &-accent
    color: #DCBD85
    &::before
      color: #DCBD85
      

@keyframes captions-text
  0%
    transform: translateX(100%)
  100%
    transform: translateX(-100%)
    
@keyframes captions-text-2
  0%
    transform: translateX(0%)
  100%
    transform: translateX(-200%)

.scrollbar-thumb
  background-color: rgba(#000, 0.85)!important
  border-radius: 0!important
.scrollbar-track-y, .scrollbar-thumb
  width: 10px!important
.scrollbar-track
  background-color: #f4f1f0!important
  z-index: 101


.container
  width: 80%
  margin: 0 auto
  @media screen and (max-width: 1280px)
    width: 80%
  @media screen and (max-width: 810px)
    width: 90%

.section
  &-header
    margin-bottom: 2.5rem
    text-align: center

.btn
  position: relative
  border-radius: 50%
  color: #282828
  font-weight: bold
  &--link
    height: 60px
    padding: 0 2.5rem
    margin-top: 2.5rem
  &--centered
    display: block
    margin-left: auto
    margin-right: auto
  &--no-mt
    margin-top: 0
  &--double
    display: grid
    grid-template-columns: repeat(2, 1fr)
    border-radius: 50px
    border: 2px solid hsl(38, 67%, 81%, .75 )
    .btn-link
      height: 80px
  &-bg
    @extend .absolute
    top: 2px
    left: 2px
    bottom: 2px
    width: calc(50% + 2px)
    border-radius: 50px
    background-color: hsl(38, 67%, 81%, .75 )
    transition: transform 400ms linear
  &-link
    position: relative
    display: inline-flex
    align-items: center
    padding: 1rem 2.5rem
    border-radius: 50px
    letter-spacing: .5px
    font-weight: 400
    @extend .h6
    transition: color 200ms ease-in
    z-index: 2
    &:hover
      &::before
        transform: scale(5)
  &.on-left
  &.on-right
    .btn-bg
      transform: translateX(100%)

  
.section-name
  @media screen and (max-width: 810px)
    display: none!important

.hidden-mbl
  @media screen and (max-width: 810px)
    display: none!important