*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

a, button {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Medium.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Bold.woff2) format("woff2");
  font-weight: bold;
}
body {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  color: #2e2e2e;
}

#js-scroll {
  height: 100vh;
}

.relative {
  position: relative;
}

.absolute, .home-projects .section-name, .home-activity .section-name, .img--cover, .tf {
  position: absolute;
}

.fixed, .p__header {
  position: fixed;
}

.tf, .img--cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex, .p__header-nav__list {
  display: flex;
}

.grid, .home-numbers__items, .p__header-nav, .grid-20, .home-activity__inner, .home-hero__inner, .p__header--in {
  display: grid;
}

.grid-20, .home-activity__inner, .home-hero__inner, .p__header--in {
  grid-template-columns: repeat(20, 1fr);
}

.tac {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.main-title {
  color: #282315;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000;
  font-weight: 300;
  line-height: 1.15;
}

.h1 {
  font-size: calc(12px + 130 * (100vw - 10px) / 1760);
  text-transform: uppercase;
}

@media screen and (max-width: 810px) {
  .h1 {
    font-size: calc(12px + 150 * (100vw - 10px) / 1760);
  }
}
.h2 {
  font-size: calc(12px + 50 * (100vw - 10px) / 1760);
}

@media screen and (max-width: 810px) {
  .h2 {
    font-size: calc(12px + 100 * (100vw - 10px) / 1760);
  }
}
.h3 {
  font-size: calc(12px + 35 * (100vw - 10px) / 1760);
}

@media screen and (max-width: 810px) {
  .h3 {
    font-size: calc(12px + 50 * (100vw - 10px) / 1760);
  }
}
.h4 {
  font-size: 125%;
}

@media screen and (max-width: 810px) {
  .h4 {
    font-size: calc(12px + 40 * (100vw - 10px) / 1760);
  }
}
.h5 {
  font-size: 150%;
}

p {
  font-size: 100%;
  line-height: 1.15;
}

@keyframes captions-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes captions-text-2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
.scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.85) !important;
  border-radius: 0 !important;
}

.scrollbar-track-y, .scrollbar-thumb {
  width: 10px !important;
}

.scrollbar-track {
  background-color: #f4f1f0 !important;
  z-index: 101;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 810px) {
  .container {
    width: 90%;
  }
}
.section-header {
  margin-bottom: 2.5rem;
  text-align: center;
}

:root {
  --color-text: #111;
  --color-light: #f4f1f0;
  --color-primary: #ca9e65;
  --color-accent: #b09582;
  --color-error: #ff1744;
  --text-title: "AngleciaPro";
}

.img-holder {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.img-holder:before {
  content: "";
  display: block;
}
.img--portrait:before {
  padding-top: 125%;
}
.img--landscape:before {
  padding-top: 57%;
}
.img--full:before {
  padding-top: 100%;
}
.img--cover {
  object-fit: cover;
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Medium.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Bold.woff2) format("woff2");
  font-weight: bold;
}
body {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  color: #2e2e2e;
}

#js-scroll {
  height: 100vh;
}

.relative {
  position: relative;
}

.absolute, .home-projects .section-name, .home-activity .section-name, .tf, .img--cover {
  position: absolute;
}

.fixed, .p__header {
  position: fixed;
}

.tf, .img--cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex, .p__header-nav__list {
  display: flex;
}

.grid, .home-numbers__items, .p__header-nav, .grid-20, .home-activity__inner, .home-hero__inner, .p__header--in {
  display: grid;
}
.grid-20, .home-activity__inner, .home-hero__inner, .p__header--in {
  grid-template-columns: repeat(20, 1fr);
}

.tac {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.main-title {
  color: #282315;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000;
  font-weight: 300;
  line-height: 1.15;
}

.h1 {
  font-size: calc(12px + 130 * (100vw - 10px) / 1760);
  text-transform: uppercase;
}
@media screen and (max-width: 810px) {
  .h1 {
    font-size: calc(12px + 150 * (100vw - 10px) / 1760);
  }
}
.h2 {
  font-size: calc(12px + 50 * (100vw - 10px) / 1760);
}
@media screen and (max-width: 810px) {
  .h2 {
    font-size: calc(12px + 100 * (100vw - 10px) / 1760);
  }
}
.h3 {
  font-size: calc(12px + 35 * (100vw - 10px) / 1760);
}
@media screen and (max-width: 810px) {
  .h3 {
    font-size: calc(12px + 50 * (100vw - 10px) / 1760);
  }
}
.h4 {
  font-size: 125%;
}
@media screen and (max-width: 810px) {
  .h4 {
    font-size: calc(12px + 40 * (100vw - 10px) / 1760);
  }
}
.h5 {
  font-size: 150%;
}

p {
  font-size: 100%;
  line-height: 1.15;
}

@keyframes captions-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes captions-text-2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
.scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.85) !important;
  border-radius: 0 !important;
}

.scrollbar-track-y, .scrollbar-thumb {
  width: 10px !important;
}

.scrollbar-track {
  background-color: #f4f1f0 !important;
  z-index: 101;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 810px) {
  .container {
    width: 90%;
  }
}

.section-header {
  margin-bottom: 2.5rem;
  text-align: center;
}

.p__header {
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  padding: 0 2.5rem;
  z-index: 10;
}
.p__header--in {
  height: 100%;
}
.p__header-logo {
  grid-column: 1/4;
  padding: 0.5rem;
}
.p__header-logo svg {
  height: 8vh;
}
.p__header-nav {
  align-self: center;
  grid-column: 7/15;
}
.p__header-nav__list {
  justify-content: center;
}
.p__header-nav__list li + li {
  margin-left: 2rem;
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Medium.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Bold.woff2) format("woff2");
  font-weight: bold;
}
body {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  color: #2e2e2e;
}

#js-scroll {
  height: 100vh;
}

.relative {
  position: relative;
}

.absolute, .home-activity .section-name, .home-projects .section-name, .tf, .img--cover {
  position: absolute;
}

.fixed, .p__header {
  position: fixed;
}

.tf, .img--cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex, .p__header-nav__list {
  display: flex;
}

.grid, .p__header--in, .p__header-nav, .home-hero__inner, .home-activity__inner, .home-numbers__items, .grid-20 {
  display: grid;
}

.grid-20, .p__header--in, .home-hero__inner, .home-activity__inner {
  grid-template-columns: repeat(20, 1fr);
}

.tac {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.main-title {
  color: #282315;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000;
  font-weight: 300;
  line-height: 1.15;
}

.h1 {
  font-size: calc(12px + 130 * (100vw - 10px) / 1760);
  text-transform: uppercase;
}

@media screen and (max-width: 810px) {
  .h1 {
    font-size: calc(12px + 150 * (100vw - 10px) / 1760);
  }
}
.h2 {
  font-size: calc(12px + 50 * (100vw - 10px) / 1760);
}

@media screen and (max-width: 810px) {
  .h2 {
    font-size: calc(12px + 100 * (100vw - 10px) / 1760);
  }
}
.h3 {
  font-size: calc(12px + 35 * (100vw - 10px) / 1760);
}

@media screen and (max-width: 810px) {
  .h3 {
    font-size: calc(12px + 50 * (100vw - 10px) / 1760);
  }
}
.h4 {
  font-size: 125%;
}

@media screen and (max-width: 810px) {
  .h4 {
    font-size: calc(12px + 40 * (100vw - 10px) / 1760);
  }
}
.h5 {
  font-size: 150%;
}

p {
  font-size: 100%;
  line-height: 1.15;
}

@keyframes captions-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes captions-text-2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
.scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.85) !important;
  border-radius: 0 !important;
}

.scrollbar-track-y, .scrollbar-thumb {
  width: 10px !important;
}

.scrollbar-track {
  background-color: #f4f1f0 !important;
  z-index: 101;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 810px) {
  .container {
    width: 90%;
  }
}
.section-header {
  margin-bottom: 2.5rem;
  text-align: center;
}

:root {
  --color-text: #111;
  --color-light: #f4f1f0;
  --color-primary: #ca9e65;
  --color-accent: #b09582;
  --color-error: #ff1744;
  --text-title: "AngleciaPro";
}

.img-holder {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.img-holder:before {
  content: "";
  display: block;
}

.img--portrait:before {
  padding-top: 125%;
}

.img--landscape:before {
  padding-top: 57%;
}

.img--full:before {
  padding-top: 100%;
}

.img--cover {
  object-fit: cover;
}

.home-hero {
  position: relative;
}
.home-hero__inner {
  position: relative;
}
@media screen and (min-width: 810px) {
  .home-hero__inner {
    grid-template-rows: 20vh auto auto 1fr 1fr 1fr;
    grid-column-gap: 2.5rem;
  }
}
@media screen and (max-width: 810px) {
  .home-hero__inner {
    grid-template-rows: auto;
    padding-top: 10vh;
  }
}
.home-hero__inner .deco {
  background-color: #E7EEF3;
  z-index: 1;
}
@media screen and (max-width: 810px) {
  .home-hero__inner .deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
  }
}
@media screen and (min-width: 810px) {
  .home-hero__inner .deco {
    position: relative;
    grid-column: 1/21;
    grid-row: 1/6;
  }
}
.home-hero__el {
  position: relative;
  z-index: 4;
}
.home-hero__el-title:nth-child(1) {
  grid-column: 2/13;
}
@media screen and (min-width: 810px) {
  .home-hero__el-title:nth-child(1) {
    grid-row: 2/3;
  }
}
@media screen and (max-width: 810px) {
  .home-hero__el-title:nth-child(1) {
    grid-column: 2/20;
  }
}
.home-hero__el-title:nth-child(2) {
  grid-column: 2/20;
  justify-self: center;
}
@media screen and (min-width: 810px) {
  .home-hero__el-title:nth-child(2) {
    grid-row: 3/4;
  }
}
.home-hero__el-descr {
  grid-column: 12/20;
  align-self: center;
}
@media screen and (min-width: 810px) {
  .home-hero__el-descr {
    grid-row: 2/3;
  }
}
@media screen and (max-width: 810px) {
  .home-hero__el-descr {
    grid-column: 2/20;
    margin: 1.5rem 0;
  }
}
.home-hero__el-descr p {
  max-width: 30ch;
}
.home-hero__el-btns {
  grid-column: 2/20;
  justify-self: center;
  align-self: top;
}
@media screen and (min-width: 810px) {
  .home-hero__el-btns {
    grid-row: 5/6;
  }
}
.home-hero__el-media {
  position: relative;
  grid-column: 5/17;
  z-index: 3;
}
@media screen and (min-width: 810px) {
  .home-hero__el-media {
    grid-row: 4/7;
    margin-top: -5rem;
  }
}
@media screen and (max-width: 810px) {
  .home-hero__el-media {
    grid-column: 1/21;
  }
}
@media screen and (max-width: 810px) and (orientation: portrait) {
  .home-hero__el-media .img-holder {
    min-height: 62.5vw;
  }
}
.home-hero__el-extra {
  display: none;
}
.home-hero__el-extra svg {
  transform: rotate(90deg);
  transform-origin: center;
}
@media screen and (min-width: 811px) {
  .home-hero__el-extra {
    display: block;
    grid-column: 17/21;
    grid-row: 5/6;
    align-self: center;
    justify-self: center;
    font-size: 0.75rem;
  }
}
.home-activity {
  position: relative;
  padding: 10vh 0;
}
.home-activity .section-name {
  top: 0;
  left: 0;
  width: 5%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home-activity .section-name span {
  display: block;
  transform: rotate(-90deg);
  transform-origin: right;
  opacity: 0.65;
}
@media screen and (max-width: 810px) {
  .home-activity {
    padding: 2.5rem 0 10vh;
  }
}
.home-activity__inner {
  padding: 0 20%;
}
@media screen and (max-width: 810px) {
  .home-activity__inner {
    grid-row-gap: 5rem;
  }
}
@media screen and (max-width: 1280px) {
  .home-activity__inner {
    padding: 0 10%;
  }
}
@media screen and (max-width: 810px) {
  .home-activity__inner {
    padding: 0 5%;
  }
}
@media screen and (max-width: 810px) {
  .home-activity__el {
    grid-column: 1/21;
  }
}
@media screen and (min-width: 810px) {
  .home-activity__el:nth-child(1) {
    margin-bottom: 2.5rem;
  }
}
.home-activity__el:nth-child(1) p {
  max-width: 500px;
}
@media screen and (min-width: 810px) {
  .home-activity__el:nth-child(1) {
    grid-column: 13/20;
    grid-row: 1/2;
  }
}
@media screen and (min-width: 810px) {
  .home-activity__el:nth-child(2) {
    grid-column: 1/10;
    grid-row: 2/4;
  }
}
@media screen and (min-width: 810px) {
  .home-activity__el:nth-child(3) {
    grid-column: 13/21;
    grid-row: 5/7;
  }
}
@media screen and (min-width: 810px) {
  .home-activity__el:nth-child(4) {
    grid-column: 2/11;
    grid-row: 8/9;
  }
}
.home-activity__el-title {
  position: relative;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 1280px) {
  .home-activity__el-title {
    margin-left: -2.5vw;
  }
}
@media screen and (max-width: 810px) {
  .home-activity__el-title {
    border-bottom: 1px solid #dbd8d8;
    padding-bottom: 0.75rem;
    margin-bottom: 1.25rem;
  }
}
@media screen and (max-width: 810px) {
  .home-activity__line {
    display: none;
  }
}
.home-activity__line svg {
  aspect-ratio: 5/5;
}
@media screen and (min-width: 810px) {
  .home-activity__line svg {
    width: 15rem;
  }
}
@media screen and (max-width: 560px) {
  .home-activity__line svg {
    width: 7.5rem;
  }
}
@media screen and (min-width: 810px) {
  .home-activity__line.--right {
    grid-column: 11/20;
    grid-row: 3/5;
  }
}
@media screen and (max-width: 810px) {
  .home-activity__line.--right {
    grid-row: 3/4;
  }
}
.home-activity__line.--right svg {
  fill: #D3450C;
}
@media screen and (min-width: 810px) {
  .home-activity__line.--left {
    grid-column: 2/11;
    grid-row: 6/8;
    justify-self: end;
  }
}
@media screen and (max-width: 810px) {
  .home-activity__line.--left {
    grid-row: 5/6;
  }
}
.home-activity__line.--left svg {
  fill: #00617E;
}
.home-activity__list {
  margin-bottom: 2.5rem;
}
.home-activity__list li {
  font-size: 125%;
  opacity: 0.65;
  max-width: 40ch;
}
.home-activity__list li + li {
  margin-top: 1rem;
}
.home-projects {
  position: relative;
}
.home-projects .section-name {
  top: 0;
  left: 0;
  width: 5%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home-projects .section-name span {
  display: block;
  transform: rotate(-90deg);
  transform-origin: right;
  opacity: 0.65;
}
@media screen and (max-width: 810px) {
  .home-projects {
    padding: 0 0 10vh 0;
    background-color: #f2f2f2;
  }
}
.home-projects__item {
  display: grid;
}
@media screen and (min-width: 810px) {
  .home-projects__item {
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }
}
@media screen and (min-width: 810px) {
  .home-projects__item-title {
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 810px) {
  .home-projects__item-title {
    padding-left: 5%;
    margin-top: 2.5rem;
  }
}
@media screen and (min-width: 810px) {
  .home-projects__item-media {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.home-projects__item-media .img-holder {
  width: 50%;
}
@media screen and (max-width: 810px) {
  .home-projects__item-media .img-holder {
    width: 100%;
    max-height: 62.5vw;
  }
}
.home-projects__item-content {
  background-color: #f2f2f2;
}
@media screen and (min-width: 810px) {
  .home-projects__item-content {
    display: grid;
    grid-template-rows: 70% 30%;
  }
}
.home-projects__item-content .text {
  display: grid;
  place-content: center center;
  max-width: 80%;
  margin: 0 auto;
  text-align: justify;
}
@media screen and (min-width: 810px) {
  .home-projects__item-content .text {
    width: 480px;
  }
}
@media screen and (max-width: 810px) {
  .home-projects__item-content .text {
    padding-top: 2.5rem;
    max-width: 90%;
  }
}
.home-partners {
  padding: 15vh 0%;
  background-color: #E7EEF3;
}
@media screen and (max-width: 810px) {
  .home-partners {
    padding: 10vh 0;
  }
}
.home-partners__inner {
  padding: 0 5%;
}
.home-partners__title {
  margin-bottom: 2.5rem;
  text-align: center;
}
.home-partners .node-marquee span {
  margin: 0 2rem;
}
.home-partners .node-marquee span svg {
  width: 5rem;
}
.home-numbers {
  padding: 15vh 0%;
  background-color: #E7EEF3;
}
@media screen and (max-width: 810px) {
  .home-numbers {
    padding: 10vh 0;
  }
}
.home-numbers__inner {
  padding: 0 5%;
}
.home-numbers__title p {
  max-width: 35ch;
  text-align: justify;
}
.home-numbers__items {
  grid-template-columns: 41.5% 40.03% 18.47%;
  grid-template-rows: 1fr 1fr;
  margin-top: 2.5rem;
}
@media screen and (max-width: 810px) {
  .home-numbers__items {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2.5rem;
    margin-top: 5rem;
  }
}
.home-numbers__item {
  font-weight: 300;
}
.home-numbers__item .num {
  font-size: 400%;
}
@media screen and (max-width: 810px) {
  .home-numbers__item .num {
    font-size: 300%;
  }
}
@media screen and (min-width: 810px) {
  .home-numbers__item:nth-child(1) {
    grid-column: 1;
    grid-row: 1/3;
    align-self: center;
  }
}
@media screen and (min-width: 810px) {
  .home-numbers__item:nth-child(1) .num {
    font-size: 1000%;
  }
}
@media screen and (min-width: 810px) {
  .home-numbers__item:nth-child(4) {
    grid-column: 2;
    grid-row: 1;
  }
}
@media screen and (min-width: 810px) {
  .home-numbers__item:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
  }
}
@media screen and (min-width: 810px) {
  .home-numbers__item:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
  }
}
@media screen and (min-width: 810px) {
  .home-numbers__item:nth-child(2) .num {
    font-size: 1000%;
  }
}
@media screen and (min-width: 810px) {
  .home-numbers__item:nth-child(5) {
    grid-column: 3;
    grid-row: 2;
  }
}

/*# sourceMappingURL=main.css.map */
