@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a, button {
  border: none;
  cursor: pointer;
  background: none;
  font-size: inherit;
  text-align: inherit;
  text-transform: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
  line-height: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

:root {
  --color-text: #111;
  --color-light: #f4f1f0;
  --color-primary: #ca9e65;
  --color-accent: #b09582;
  --color-error: #ff1744;
  --text-title: "Oswald";
}

.img-holder {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.img-holder:before {
  content: "";
  display: block;
}
.img--portrait:before {
  padding-top: 128%;
}
.img--h-4-3:before {
  padding-top: 70%;
}
.img--h-16-9:before {
  padding-top: 65%;
}
.img--full:before {
  padding-top: 100%;
}
.img--cover {
  object-fit: cover;
  transition: opacity 200ms linear;
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/AkzidenzGroteskPro-Regular.7734892.woff2) format("woff2");
  font-weight: 400;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #123244;
}

html.no-scroll {
  overflow: hidden;
}

#js-scroll {
  height: 100vh;
}

.relative, .team-carousel .swiper-slide .media {
  position: relative;
}

.absolute, .gallery:before, .home-projects .section-name, .home-about .section-name, .home-hero .section-name, .donate__nav, .btn--double .bg, .tf, .node-marquee .item::after, .btn--circle:after, .btn--circle:before, .btn-gnrl:before, .img--cover {
  position: absolute;
}

.fixed, .header {
  position: fixed;
}

.tf, .node-marquee .item::after, .btn--circle:after, .btn--circle:before, .btn-gnrl:before, .img--cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex, .header-extra, .header-nav, .header--in {
  display: flex;
}

.grid, .footer__inner, .home-activity__items, .grid-20, .media__inner, .team__inner, .home-about__inner, .home-hero__inner {
  display: grid;
}
.grid-20, .media__inner, .team__inner, .home-about__inner, .home-hero__inner {
  grid-template-columns: repeat(20, 1fr);
}

.tac {
  text-align: center;
}

.uppercase, .footer li, .donate-el .title, .donate-el .num, .header-extra__mt, .header-nav__list li, .btn, .h1 {
  text-transform: uppercase;
  font-family: var(--text-title);
  letter-spacing: 0.5px;
}

.main-title {
  color: #282315;
}

.h1, .h2, .h3, .btn--circle.--lg, .h4, .footer li, .donate-el .num, .h5, .h6 {
  font-weight: 300;
  line-height: 1.15;
}
@media screen and (max-width: 810px) {
  .h1, .h2, .h3, .btn--circle.--lg, .h4, .footer li, .donate-el .num, .h5, .h6 {
    font-weight: 400;
  }
}

.h1 {
  font-size: calc(12px + 115 * (100vw - 10px) / 1760);
}
@media screen and (max-width: 810px) {
  .h1 {
    font-size: calc(12px + 150 * (100vw - 10px) / 1760);
  }
}
.h2 {
  font-size: calc(12px + 50 * (100vw - 10px) / 1760);
}
@media screen and (max-width: 810px) {
  .h2 {
    font-size: calc(12px + 110 * (100vw - 10px) / 1760);
  }
}
.h3, .btn--circle.--lg {
  font-size: calc(12px + 35 * (100vw - 10px) / 1760);
}
@media screen and (max-width: 810px) {
  .h3, .btn--circle.--lg {
    font-size: calc(12px + 80 * (100vw - 10px) / 1760);
  }
}
.h4, .footer li, .donate-el .num {
  font-size: 125%;
}
@media screen and (max-width: 810px) {
  .h4, .footer li, .donate-el .num {
    font-size: calc(12px + 40 * (100vw - 10px) / 1760);
  }
}
.h5 {
  font-size: 150%;
}
.h6 {
  font-size: 125%;
}

p {
  font-size: 100%;
  line-height: 1.15;
}

.deco-txt, .footer .title, .donate-el .title {
  position: relative;
}
.deco-txt::before, .footer .title::before, .donate-el .title::before {
  display: inline-block;
  content: "●";
  color: currentColor;
  margin-right: 0.15rem;
  vertical-align: super;
  font-size: 40%;
}

.color-accent {
  color: #DCBD85;
}

@keyframes captions-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes captions-text-2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
.scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.85) !important;
  border-radius: 0 !important;
}

.scrollbar-track-y, .scrollbar-thumb {
  width: 10px !important;
}

.scrollbar-track {
  background-color: #f4f1f0 !important;
  z-index: 101;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 810px) {
  .container {
    width: 90%;
  }
}

.section-header {
  margin-bottom: 2.5rem;
  text-align: center;
}
@media screen and (max-width: 810px) {
  .section-sizer {
    padding-top: 5rem;
    padding-bottom: 3.25rem;
  }
}
@media screen and (min-width: 810px) {
  .section-sizer {
    padding-top: 8.25rem;
    padding-bottom: 5.25rem;
  }
}

.btn {
  position: relative;
  color: #282828;
}
@media screen and (max-width: 810px) {
  .btn {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 810px) {
  .btn {
    font-size: 1rem;
  }
}
.btn .inner {
  position: relative;
  z-index: 2;
}
.btn-gnrl {
  position: relative;
  display: inline-flex;
  width: fit-content;
  padding: 1.25rem 2rem;
  border-radius: 3rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  white-space: nowrap;
  z-index: 2;
}
@media screen and (max-width: 810px) {
  .btn-gnrl {
    padding: 0.75rem 1.25rem;
  }
}
@media screen and (min-width: 810px) {
  .btn-gnrl {
    padding: 1.25rem 2rem;
  }
}
.btn-gnrl:before {
  content: "";
  border-radius: 3rem;
  transform: scale(1);
  background-color: #EFD7AD;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
}
.btn-gnrl:hover::before {
  transform: scale(1.15);
}
.btn--colorLoop::before {
  animation: colorLoop 10s infinite;
}
.btn--circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  width: 14rem;
  height: 14rem;
  background-color: #E7EEF3;
  border-radius: 50%;
  margin: 1rem;
  z-index: 3;
}
@media screen and (max-width: 810px) {
  .btn--circle {
    font-size: calc(12px + 80 * (100vw - 10px) / 1760);
  }
}
.btn--circle .inner:before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 100%;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: currentColor;
}
.btn--circle:after, .btn--circle:before {
  content: "";
  border-radius: 50%;
  transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
}
.btn--circle:after {
  background-color: #E7EEF3;
}
.btn--circle:before {
  background-color: #fff;
}
.btn--circle:hover::after {
  transform: scale(0.965);
}
.btn--circle:hover::before {
  transform: scale(0.985);
}
.btn--circle.--lg {
  width: 25vw;
  height: 25vw;
}
@media screen and (max-width: 810px) {
  .btn--circle.--lg {
    width: 60vw;
    height: 60vw;
  }
}
.btn--double {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 50px;
  border: 2px solid rgba(239, 215, 174, 0.75);
}
.btn--double .link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
}
@media screen and (min-width: 810px) {
  .btn--double .link {
    padding: 0 2rem;
    height: 80px;
  }
}
@media screen and (max-width: 810px) {
  .btn--double .link {
    padding: 0 1rem;
    height: 60px;
  }
}
.btn--double .bg {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(50% + 2px);
  border-radius: 50px;
  background-color: rgba(239, 215, 174, 0.75);
  transition: transform 400ms linear;
}
.btn--double.on-right .bg {
  transform: translateX(100%);
}

@media screen and (max-width: 810px) {
  .section-name {
    display: none !important;
  }
}

@media screen and (max-width: 810px) {
  .hidden-mbl {
    display: none !important;
  }
}

.smiley {
  animation-name: smiley;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: center center;
}

@keyframes smiley {
  0% {
    transform: rotate(-15deg);
  }
  5% {
    transform: rotate(25deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(380deg);
  }
  50% {
    transform: rotate(330deg);
  }
  55% {
    transform: rotate(370deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  90% {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(-15deg);
  }
}
@keyframes colorLoop {
  0% {
    background-color: #DCBD85;
  }
  33% {
    background-color: #B8DAE3;
  }
  66% {
    background-color: #48A0B6;
  }
  100% {
    background-color: #DCBD85;
  }
}
.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
@media screen and (min-width: 810px) {
  .header {
    height: 10vh;
    padding: 0 2.5rem;
  }
}
@media screen and (max-width: 810px) {
  .header {
    height: 60px;
    padding: 0 2.5%;
  }
}
.header--in {
  height: 100%;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
@media screen and (min-width: 810px) {
  .header-logo {
    flex: 0 1 100%;
  }
}
@media screen and (max-width: 810px) {
  .header-logo {
    flex: 0 1 100px;
  }
}
.header-logo svg {
  max-height: 90%;
  fill: #123244;
}
@media screen and (min-width: 810px) {
  .header-logo svg {
    height: 8vh;
  }
}
.header-nav {
  align-items: center;
  justify-content: center;
  flex: 0 1 100%;
}
@media screen and (max-width: 810px) {
  .header-nav {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 1rem;
    background-color: #B8DAE3;
    min-width: 50vw;
    transform: scaleY(0);
    transform-origin: top center;
    z-index: 10;
  }
}
@media screen and (min-width: 810px) {
  .header-nav__list {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 810px) {
  .header-nav__list {
    padding: 3.5rem 10vw 2.5rem 10vw;
  }
}
.header-nav__list li {
  font-size: 0.9rem;
  white-space: nowrap;
}
@media screen and (min-width: 810px) {
  .header-nav__list li {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 810px) {
  .header-nav__list li + li {
    margin-top: 1.75rem;
  }
}
.header-extra {
  flex: 0 1 100%;
  align-items: center;
}
.header-extra__inner {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.header-extra__mt {
  position: relative;
  z-index: 11;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 810px) {
  .header-extra__mt {
    display: none;
  }
}
@media screen and (max-width: 810px) {
  .header-extra__mt {
    display: block;
  }
}

.donate {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #fff;
  transition: transform 350ms cubic-bezier(0.4, 0, 0, 1);
  transform: translateY(-100%);
  z-index: 10;
}
@media screen and (min-width: 810px) {
  .donate {
    width: 50vw;
  }
}
@media screen and (max-width: 810px) {
  .donate {
    width: 100%;
  }
}
.donate__nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5vw;
  font-family: bold;
}
.donate__inner {
  display: grid;
  padding: 10vh 5vw;
  overflow-y: auto;
}
@media screen and (min-width: 810px) {
  .donate__inner {
    height: 100%;
    align-items: center;
  }
}
.donate-els {
  display: grid;
}
.donate-el {
  padding: 1.5rem 0;
  border-top: 1px solid #000;
  overflow: auto;
}
.donate-el:nth-child(1) {
  border: none;
}
.donate-el .text {
  position: relative;
  display: inline-block;
}
@media screen and (min-width: 810px) {
  .donate-el .text {
    padding-right: 3.5rem;
  }
}
@media screen and (max-width: 810px) {
  .donate-el .text {
    padding-right: 2.5rem;
  }
}
.donate-el .text::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 488.3 488.3' style='enable-background:new 0 0 488.3 488.3;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M314.25,85.4h-227c-21.3,0-38.6,17.3-38.6,38.6v325.7c0,21.3,17.3,38.6,38.6,38.6h227c21.3,0,38.6-17.3,38.6-38.6V124 C352.75,102.7,335.45,85.4,314.25,85.4z M325.75,449.6c0,6.4-5.2,11.6-11.6,11.6h-227c-6.4,0-11.6-5.2-11.6-11.6V124 c0-6.4,5.2-11.6,11.6-11.6h227c6.4,0,11.6,5.2,11.6,11.6V449.6z'/%3E%3Cpath d='M401.05,0h-227c-21.3,0-38.6,17.3-38.6,38.6c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5c0-6.4,5.2-11.6,11.6-11.6h227 c6.4,0,11.6,5.2,11.6,11.6v325.7c0,6.4-5.2,11.6-11.6,11.6c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5c21.3,0,38.6-17.3,38.6-38.6 V38.6C439.65,17.3,422.35,0,401.05,0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.donate-el .num {
  font-weight: 400;
}
.donate-el .title {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}
.donate-el .link {
  position: relative;
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  margin-bottom: -0.25rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cg transform='translate(128 128) scale(0.72 0.72)' style=''%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(-175.05 -175.05000000000004) scale(3.89 3.89)' %3E%3Cpath d='M 87 32.944 c -1.657 0 -3 -1.343 -3 -3 V 6 H 60.056 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 H 87 c 1.657 0 3 1.343 3 3 v 26.944 C 90 31.601 88.657 32.944 87 32.944 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3Cpath d='M 33.112 59.888 c -0.768 0 -1.536 -0.293 -2.121 -0.879 c -1.172 -1.171 -1.172 -3.071 0 -4.242 L 84.879 0.879 c 1.172 -1.172 3.07 -1.172 4.242 0 c 1.172 1.171 1.172 3.071 0 4.242 L 35.233 59.009 C 34.648 59.595 33.88 59.888 33.112 59.888 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3Cpath d='M 75.863 90 H 14.137 C 6.342 90 0 83.658 0 75.863 V 14.137 C 0 6.342 6.342 0 14.137 0 h 18.976 c 1.657 0 3 1.343 3 3 s -1.343 3 -3 3 H 14.137 C 9.65 6 6 9.65 6 14.137 v 61.727 C 6 80.35 9.65 84 14.137 84 h 61.727 C 80.35 84 84 80.35 84 75.863 V 56.888 c 0 -1.657 1.343 -3 3 -3 s 3 1.343 3 3 v 18.976 C 90 83.658 83.658 90 75.863 90 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.donate--cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
  z-index: 9;
}
.donate--cover.is-show {
  opacity: 1;
  visibility: visible;
}

.home-hero {
  position: relative;
}
.home-hero .section-name {
  top: 0;
  left: 0;
  width: 5%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 3;
}
.home-hero .section-name span {
  display: block;
  transform: rotate(-90deg);
  transform-origin: right;
  opacity: 0.65;
}
.home-hero__inner {
  position: relative;
}
@media screen and (min-width: 810px) {
  .home-hero__inner {
    grid-template-rows: calc(10vh + 2.5rem) auto auto auto 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 810px) {
  .home-hero__inner {
    grid-template-rows: auto;
    padding-top: 10vh;
  }
}
.home-hero__inner .deco {
  background-color: #E7EEF3;
  z-index: 1;
}
@media screen and (max-width: 810px) {
  .home-hero__inner .deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
  }
}
@media screen and (min-width: 810px) {
  .home-hero__inner .deco {
    position: relative;
    grid-column: 1/21;
    grid-row: 1/7;
  }
}
.home-hero__el {
  position: relative;
  z-index: 4;
}
@media screen and (min-width: 810px) {
  .home-hero__el-title:nth-child(1) {
    grid-column: 3/20;
    grid-row: 2/3;
    justify-self: end;
  }
}
@media screen and (max-width: 810px) {
  .home-hero__el-title:nth-child(1) {
    grid-column: 2/20;
  }
}
.home-hero__el-title:nth-child(2) {
  grid-column: 2/20;
}
@media screen and (min-width: 810px) {
  .home-hero__el-title:nth-child(2) {
    grid-row: 3/4;
    justify-self: end;
  }
}
@media screen and (min-width: 810px) {
  .home-hero__el-title:nth-child(3) {
    grid-row: 4/5;
    grid-column: 12/20;
    justify-self: end;
  }
}
@media screen and (max-width: 810px) {
  .home-hero__el-title:nth-child(3) {
    grid-row: 7/8;
    grid-column: 2/20;
  }
}
.home-hero__el-descr {
  grid-column: 3/8;
}
@media screen and (min-width: 810px) {
  .home-hero__el-descr {
    grid-row: 5/6;
    align-self: end;
  }
}
@media screen and (max-width: 810px) {
  .home-hero__el-descr {
    grid-column: 2/20;
    margin: 1.5rem 0;
  }
}
.home-hero__el-banner {
  grid-column: 1/20;
  grid-row: 4/5;
}
@media screen and (min-width: 810px) {
  .home-hero__el-banner {
    display: block;
    position: relative;
    grid-column: 1/11;
    grid-row: 2/6;
    z-index: 2;
  }
}
@media screen and (max-width: 810px) and (orientation: portrait) {
  .home-hero__el-banner .img-holder:before {
    padding-top: 50%;
  }
}
.home-hero__el-media {
  position: relative;
  grid-column: 7/21;
}
@media screen and (min-width: 810px) {
  .home-hero__el-media {
    grid-row: 5/8;
  }
}
@media screen and (max-width: 810px) {
  .home-hero__el-media {
    grid-column: 2/21;
    margin-top: -0.75rem;
  }
}
.home-hero__el-media .img-holder {
  border-radius: 40vh 0 0 40vh;
}
@media screen and (max-width: 810px) and (orientation: portrait) {
  .home-hero__el-media .img-holder {
    border-radius: 30vh 0 0 30vh;
  }
}
@media screen and (max-width: 810px) and (orientation: portrait) {
  .home-hero__el-media .img-holder:before {
    padding-top: 52.5%;
  }
}
.home-hero__el-media .img--cover:nth-child(1) {
  opacity: 1;
}
.home-about {
  position: relative;
}
.home-about .section-name {
  top: 0;
  left: 0;
  width: 5%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home-about .section-name span {
  display: block;
  transform: rotate(-90deg);
  transform-origin: right;
  opacity: 0.65;
}
.home-about__inner {
  padding: 0 10%;
}
@media screen and (max-width: 1280px) {
  .home-about__inner {
    padding: 0 10%;
  }
}
@media screen and (max-width: 810px) {
  .home-about__inner {
    grid-row-gap: 2.5rem;
    padding: 0 5%;
  }
}
@media screen and (min-width: 810px) {
  .home-about__inner {
    grid-row-gap: 5rem;
  }
}
.home-about__el {
  position: relative;
  display: grid;
  place-content: space-between;
}
@media screen and (max-width: 810px) {
  .home-about__el {
    grid-column: 1/21;
  }
}
@media screen and (min-width: 810px) {
  .home-about__el:nth-child(1) {
    grid-row: 1/2;
    grid-column: 2/14;
  }
}
@media screen and (min-width: 810px) {
  .home-about__el:nth-child(2) {
    grid-row: 1/2;
    grid-column: 14/20;
    align-self: end;
  }
}
@media screen and (min-width: 810px) {
  .home-about__el:nth-child(3) {
    grid-column: 5/11;
    grid-row: 2/4;
  }
}
@media screen and (min-width: 810px) {
  .home-about__el:nth-child(4) {
    grid-column: 12/18;
    grid-row: 2/4;
  }
}
@media screen and (min-width: 810px) {
  .home-about__el:nth-child(5) {
    grid-column: 2/11;
    grid-row: 8/9;
  }
}
.home-about__el-title {
  position: relative;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 810px) {
  .home-about__el-title {
    border-bottom: 1px solid #dbd8d8;
    padding-bottom: 0.75rem;
    margin-bottom: 1.25rem;
  }
}
.home-about__list {
  margin-bottom: 2.5rem;
}
.home-about__list li {
  position: relative;
  max-width: 40ch;
}
.home-about__list li + li {
  margin-top: 1rem;
}
.home-projects {
  position: relative;
}
.home-projects .section-name {
  top: 0;
  left: 0;
  width: 5%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home-projects .section-name span {
  display: block;
  transform: rotate(-90deg);
  transform-origin: right;
  opacity: 0.65;
}
@media screen and (max-width: 810px) {
  .home-projects {
    padding-top: 6.25rem;
    padding-bottom: 3.25rem;
    background-color: #f2f2f2;
  }
}
.home-projects__item {
  display: grid;
}
@media screen and (min-width: 810px) {
  .home-projects__item {
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }
}
@media screen and (min-width: 810px) {
  .home-projects__item-title {
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 810px) {
  .home-projects__item-title {
    padding-left: 5%;
    margin-top: 2.5rem;
  }
}
@media screen and (min-width: 810px) {
  .home-projects__item-media {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.home-projects__item-media .img-holder {
  width: 60%;
  border-radius: 1rem;
}
@media screen and (max-width: 810px) {
  .home-projects__item-media .img-holder {
    width: 95%;
    border-radius: 0 30vh 30vh 0;
  }
}
@media screen and (max-width: 810px) {
  .home-projects__item-media .img-holder::before {
    padding-top: 50%;
  }
}
.home-projects__item-content {
  display: grid;
  background-color: #f2f2f2;
}
@media screen and (min-width: 810px) {
  .home-projects__item-content {
    grid-template-rows: 70% 30%;
  }
}
.home-projects__item-content .text {
  display: grid;
  place-content: center center;
  max-width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 810px) {
  .home-projects__item-content .text {
    width: 480px;
  }
}
@media screen and (max-width: 810px) {
  .home-projects__item-content .text {
    padding-top: 2.5rem;
    max-width: 90%;
    grid-row: 2;
  }
}
.home-projects__item-content .text p {
  text-align: justify;
}
@media screen and (min-width: 810px) {
  .home-projects__item-content .text .title {
    margin-bottom: 5rem;
    text-align: left;
  }
}
@media screen and (max-width: 810px) {
  .home-projects__item-content .text .title {
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 810px) {
  .home-projects__item-content .img {
    grid-row: 1;
    width: 95%;
    margin-left: 5%;
    margin-top: -1.5rem;
    z-index: 3;
  }
}
.home-projects__item-content .img:before {
  content: "";
  display: block;
}
@media screen and (max-width: 810px) {
  .home-projects__item-content .img:before {
    padding-top: 52%;
  }
}
@media screen and (max-width: 810px) {
  .home-projects__item-content .img .img--cover {
    border-radius: 30vh 0 0 30vh;
  }
}
.home-partners {
  padding: 15vh 0%;
  background-color: #F9F2ED;
}
@media screen and (max-width: 810px) {
  .home-partners {
    padding: 2.5rem 0;
  }
}
.home-partners__inner {
  padding: 0 5%;
}
.home-partners__title {
  margin-bottom: 2.5rem;
  text-align: center;
}
.home-activity {
  background-color: #E7EEF3;
}
.home-activity__inner {
  padding: 0 10%;
}
@media screen and (max-width: 810px) {
  .home-activity__inner {
    padding: 0 5%;
  }
}
.home-activity__inner .h2 {
  margin-bottom: 5rem;
}
@media screen and (max-width: 810px) {
  .home-activity__inner .h2 {
    margin-bottom: 2.5rem;
  }
}
.home-activity__title p {
  max-width: 35ch;
  text-align: justify;
}
@media screen and (min-width: 810px) {
  .home-activity__items {
    grid-template-columns: 41.5% 40.03% 18.47%;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 810px) {
  .home-activity__items {
    padding: 0 5vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2.5rem;
  }
}
.home-activity__item {
  font-weight: 300;
}
.home-activity__item .num {
  font-size: 400%;
}
@media screen and (max-width: 810px) {
  .home-activity__item .num {
    font-size: 300%;
  }
}
@media screen and (min-width: 810px) {
  .home-activity__item:nth-child(1) {
    grid-column: 1;
    grid-row: 1/3;
    align-self: center;
  }
}
@media screen and (min-width: 810px) {
  .home-activity__item:nth-child(1) .num {
    font-size: 1000%;
  }
}
@media screen and (min-width: 810px) {
  .home-activity__item:nth-child(4) {
    grid-column: 2;
    grid-row: 1;
  }
}
@media screen and (min-width: 810px) {
  .home-activity__item:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
  }
}
@media screen and (min-width: 810px) {
  .home-activity__item:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
  }
}
@media screen and (min-width: 810px) {
  .home-activity__item:nth-child(2) .num {
    font-size: 1000%;
  }
}
@media screen and (min-width: 810px) {
  .home-activity__item:nth-child(5) {
    grid-column: 3;
    grid-row: 2;
  }
}

.gallery {
  position: relative;
}
.gallery:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  z-index: 0;
  background-color: #E7EEF3;
}
.gallery-carousel .img-holder {
  border-radius: 1rem;
}

.node-marquee {
  margin: 5rem 0 2.5rem 0;
}
@media screen and (max-width: 810px) {
  .node-marquee {
    margin: 2.5rem 0 2.5rem 0;
  }
}
.node-marquee svg {
  position: relative;
  width: 100%;
}
.node-marquee .item {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  width: 300px;
}
@media screen and (max-width: 810px) {
  .node-marquee .item {
    width: 200px;
    height: 200px;
  }
}
.node-marquee .item::after {
  content: "";
  border-radius: 50%;
  background-color: #fff;
  z-index: -1;
}

.action {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.action__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5%;
}
.action__el-title {
  margin-bottom: 2.5rem;
}
.action__el-txt {
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 810px) {
  .action__el-txt {
    max-width: 40ch;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 810px) {
  .action__el + .action__el {
    margin-top: 2.5rem;
  }
}

.team {
  overflow-x: hidden;
}
.team__inner {
  grid-column-gap: 2.5rem;
}
.team__el:nth-child(1) {
  grid-row: 1/2;
}
@media screen and (max-width: 810px) {
  .team__el:nth-child(1) {
    grid-column: 2/20;
  }
}
@media screen and (min-width: 810px) {
  .team__el:nth-child(1) {
    grid-column: 3/11;
  }
}
@media screen and (max-width: 810px) {
  .team__el:nth-child(2) {
    grid-column: 2/20;
    grid-row: 3/4;
    margin-top: 2.5rem;
  }
}
@media screen and (min-width: 810px) {
  .team__el:nth-child(2) {
    align-self: end;
    justify-self: center;
    grid-column: 11/16;
    grid-row: 1/2;
  }
}
.team__el:nth-child(3) {
  overflow: hidden;
  grid-column: 1/21;
}
@media screen and (max-width: 810px) {
  .team__el:nth-child(3) {
    grid-row: 2/3;
  }
}
.team-carousel {
  margin-top: 2.5rem;
}
.team-carousel__nav-prev, .team-carousel__nav-next {
  display: inline-block;
}
.team-carousel__nav-prev button, .team-carousel__nav-next button {
  padding: 0.5rem 1rem;
}
.team-carousel__nav-prev button.swiper-button-disabled, .team-carousel__nav-next button.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}
.team-carousel__nav-prev button {
  transform: rotate(-180deg);
}
@media screen and (max-width: 810px) {
  .team-carousel .swiper-slide {
    padding-left: 5vw;
  }
}
.team-carousel .swiper-slide .media .img--cover {
  border-radius: 1rem;
}
.team-carousel .swiper-slide.lg, .team-carousel .swiper-slide.sm, .team-carousel .swiper-slide.md {
  width: 72%;
  min-width: 72vw;
}
@media screen and (min-width: 810px) {
  .team-carousel .swiper-slide.lg, .team-carousel .swiper-slide.sm, .team-carousel .swiper-slide.md {
    width: 50%;
    min-width: 50vw;
  }
}
.team-carousel .swiper-slide.lg .inner, .team-carousel .swiper-slide.sm .inner, .team-carousel .swiper-slide.md .inner {
  width: 72vw;
}
@media screen and (min-width: 810px) {
  .team-carousel .swiper-slide.lg .inner, .team-carousel .swiper-slide.sm .inner, .team-carousel .swiper-slide.md .inner {
    width: 50vw;
  }
}
.team-carousel .swiper-slide.lg .media, .team-carousel .swiper-slide.sm .media, .team-carousel .swiper-slide.md .media {
  height: 90.76744vw;
}
@media screen and (min-width: 810px) {
  .team-carousel .swiper-slide.lg .media, .team-carousel .swiper-slide.sm .media, .team-carousel .swiper-slide.md .media {
    height: 58.13953vw;
  }
}
@media screen and (min-width: 1280px) {
  .team-carousel .swiper-slide.lg {
    width: 30%;
    min-width: 47.3vh;
  }
}
@media screen and (min-width: 1280px) {
  .team-carousel .swiper-slide.lg .inner {
    width: 47.3vh;
  }
}
@media screen and (min-width: 1280px) {
  .team-carousel .swiper-slide.lg .media {
    height: 55vh;
  }
}
@media screen and (min-width: 1280px) {
  .team-carousel .swiper-slide.sm {
    width: 20%;
    min-width: 29.7vh;
  }
}
@media screen and (min-width: 1280px) {
  .team-carousel .swiper-slide.sm .inner {
    width: 29.7vh;
  }
}
@media screen and (min-width: 1280px) {
  .team-carousel .swiper-slide.sm .media {
    height: 45vh;
    width: 29.7vh;
  }
}
@media screen and (min-width: 1280px) {
  .team-carousel .swiper-slide.md {
    width: 25%;
    min-width: 40vh;
  }
}
@media screen and (min-width: 1280px) {
  .team-carousel .swiper-slide.md .inner {
    width: 40vh;
  }
}
@media screen and (min-width: 1280px) {
  .team-carousel .swiper-slide.md .media {
    height: 40vh;
    width: 40vh;
  }
}
.team-carousel .swiper-slide .info {
  margin-top: 1rem;
}
.team-carousel .swiper-slide .info-position {
  margin-top: 1rem;
}
@media screen and (max-width: 810px) {
  .team-carousel .swiper-slide .info {
    padding-left: 5%;
  }
}

.media {
  position: relative;
}
@media screen and (min-width: 810px) {
  .media {
    margin-top: 2.5rem;
  }
}
.media__inner {
  grid-row-gap: 2.5rem;
}
.media-el {
  position: relative;
  z-index: 2;
}
.media-el .img-holder {
  background-color: #48A0B6;
}
@media screen and (min-width: 810px) {
  .media-el .img-holder {
    border-radius: 1.5rem;
  }
}
@media screen and (max-width: 810px) {
  .media-el .img-holder {
    border-radius: 0.5rem;
  }
}
.media-el:nth-child(1) {
  position: relative;
  align-self: center;
  justify-self: center;
  z-index: 3;
}
@media screen and (min-width: 810px) {
  .media-el:nth-child(1) {
    grid-column: 7/15;
    grid-row: 4/6;
  }
}
@media screen and (max-width: 810px) {
  .media-el:nth-child(1) {
    grid-column: 2/20;
    grid-row: 5/6;
    margin: 1.25rem 0;
  }
}
.media-el:nth-child(2) {
  grid-row: 1/5;
}
@media screen and (min-width: 810px) {
  .media-el:nth-child(2) {
    grid-column: 2/6;
  }
}
@media screen and (max-width: 810px) {
  .media-el:nth-child(2) {
    grid-column: 1/10;
  }
}
@media screen and (min-width: 810px) {
  .media-el:nth-child(3) {
    grid-column: 12/15;
    grid-row: 1/4;
    align-self: end;
  }
}
@media screen and (max-width: 810px) {
  .media-el:nth-child(3) {
    grid-column: 13/20;
    grid-row: 3/5;
    align-self: center;
  }
}
@media screen and (min-width: 810px) {
  .media-el:nth-child(4) {
    grid-column: 17/21;
    grid-row: 4/6;
  }
}
@media screen and (max-width: 810px) {
  .media-el:nth-child(4) {
    grid-column: 14/21;
    grid-row: 6/8;
  }
}
@media screen and (min-width: 810px) {
  .media-el:nth-child(5) {
    grid-column: 1/5;
    grid-row: 5/8;
  }
}
@media screen and (max-width: 810px) {
  .media-el:nth-child(5) {
    grid-column: 2/9;
    grid-row: 6/8;
  }
}
.media-el:nth-child(6) {
  display: none;
}
@media screen and (min-width: 810px) {
  .media-el:nth-child(6) {
    display: block;
    grid-column: 13/16;
    grid-row: 6/8;
  }
}
.media-el:nth-child(7) {
  grid-column: 1/21;
  background-color: #E7EEF3;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 810px) {
  .media-el:nth-child(7) {
    grid-row: 2/7;
  }
}
@media screen and (max-width: 810px) {
  .media-el:nth-child(7) {
    grid-row: 2/7;
  }
}

.cooperate {
  position: relative;
}
@media screen and (min-width: 810px) {
  .cooperate__inner {
    padding: 3.125rem 10% 12.5rem 10%;
  }
}
@media screen and (max-width: 810px) {
  .cooperate__inner {
    padding: 0rem 5%;
  }
}
@media screen and (min-width: 810px) {
  .cooperate-title {
    text-align: center;
  }
}
@media screen and (max-width: 810px) {
  .cooperate .btn--circle {
    margin: 2.5rem auto 0 auto;
  }
}
@media screen and (min-width: 810px) {
  .cooperate .btn--circle {
    position: absolute;
    top: 50%;
    right: 25%;
  }
}

.footer {
  background-color: #F3F0EF;
}
@media screen and (min-width: 810px) {
  .footer {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media screen and (max-width: 810px) {
  .footer {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (min-width: 810px) {
  .footer__inner {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5rem;
  }
}
@media screen and (max-width: 810px) {
  .footer__inner {
    grid-row-gap: 2.5rem;
    margin-top: 2.5rem;
  }
}
.footer .title {
  margin-bottom: 1rem;
  opacity: 0.85;
  font-size: 85%;
}
.footer li {
  font-weight: 500;
}
@media screen and (min-width: 810px) {
  .footer li + li {
    margin-top: 0.75rem;
  }
}
@media screen and (max-width: 810px) {
  .footer li + li {
    margin-top: 1.25rem;
  }
}

/*# sourceMappingURL=main0242052.css.map */
